In [1]:
import pyspark

In [3]:
spark  = pyspark.sql.SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [38]:
ratings = spark.read.json('data/ratings.json')

In [39]:
ratings.persist()

DataFrame[movie_id: bigint, rating: bigint, timestamp: double, user_id: bigint]

In [40]:
ratings.show(5)

+--------+------+------------+-------+
|movie_id|rating|   timestamp|user_id|
+--------+------+------------+-------+
|     858|     4|9.56678732E8|   6040|
|    2384|     4|9.56678754E8|   6040|
|     593|     5|9.56678754E8|   6040|
|    1961|     4|9.56678777E8|   6040|
|    1419|     3|9.56678856E8|   6040|
+--------+------+------------+-------+
only showing top 5 rows

In [76]:
import pandas as pd 
movies = pd.read_csv('data/movies.dat', sep='::', engine='python', header=None)
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [98]:
users = pd.read_csv('data/users.dat', sep='::', engine='python', header=None)
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [104]:
users = users.rename({0:'user_id', 
              1:'gender', 
              2:'min_age', 
              3:'occupation', 
              4:'zipcode'}, 
             axis=1)
users.age.value_counts()

25    2096
35    1193
18    1103
45     550
50     496
56     380
1      222
Name: age, dtype: int64

In [41]:
requests = spark.read.json('data/requests.json')

In [42]:
requests.persist()

DataFrame[movie_id: bigint, rating: double, timestamp: double, user_id: bigint]

In [43]:
requests.count()

280260

In [32]:
#import libraries for shitty model 
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS, ALSModel 
ratings.printSchema

In [44]:
ratings_df = ratings.toPandas()

In [60]:
ratings_df.sort_values(by='timestamp', ascending=False)

        movie_id  rating    timestamp  user_id
719948       892       4  975739919.0     1875
719947       802       4  975739918.0     1875
719946      2303       4  975739907.0      635
719945      2966       4  975739907.0      635
719944      3198       4  975739907.0      635
719943      1884       4  975739907.0      635
719942       838       4  975739906.0     1875
719941      3479       4  975739906.0     1875
719939      2108       4  975739892.0     1875
719940      1680       4  975739892.0     1875
719938        68       4  975739871.0     1875
719937      1203       5  975739864.0      635
719936      1952       4  975739864.0      635
719935       858       4  975739864.0      635
719934      2240       3  975739864.0      635
719931      1251       4  975739820.0      635
719929      1960       5  975739820.0      635
719930      1172       5  975739820.0      635
719928       296       4  975739820.0      635
719932      3035       5  975739820.0      635
719933      1207       5  975739820.0      635
719927       360       3  975739773.0     1875
719926       444       3  975739744.0     1875
719925      3183       4  975739720.0      635
719924      1217       4  975739720.0      635
719923      1279       5  975739720.0      635
719922      3067       4  975739720.0      635
719921       420       1  975739717.0     1875
719920      3599       1  975739694.0     1875
719919       234       3  975739683.0     1875
...          ...     ...          ...      ...
27           300       2  956679516.0     6040
30           150       3  956679516.0     6040
28          1392       5  956679516.0     6040
26          2692       4  956679456.0     6040
24          2762       4  956679384.0     6040
23            17       3  956679384.0     6040
25            34       4  956679384.0     6040
22          1649       5  956679319.0     6040
20          2028       5  956679319.0     6040
21           326       4  956679319.0     6040
18           608       4  956679275.0     6040
19          2396       3  956679275.0     6040
17          3289       5  956679105.0     6040
16           318       4  956679057.0     6040
14          1252       5  956679057.0     6040
15           649       5  956679057.0     6040
13           527       5  956679019.0     6040
11           919       5  956678991.0     6040
10          2503       5  956678991.0     6040
12           912       5  956678991.0     6040
9           1734       2  956678881.0     6040
7            573       4  956678856.0     6040
6           3111       5  956678856.0     6040
4           1419       3  956678856.0     6040
8           3505       4  956678856.0     6040
5            213       5  956678856.0     6040
3           1961       4  956678777.0     6040
2            593       5  956678754.0     6040
1           2384       4  956678754.0     6040
0            858       4  956678732.0     6040

[719949 rows x 4 columns]

In [61]:
als = ALS(
    rank=11,
    userCol='user_id',
    itemCol='movie_id',
    ratingCol='rating'
)

In [62]:
als_model = als.fit(ratings)

In [63]:
type(als_model)

pyspark.ml.recommendation.ALSModel

In [65]:
preds = als_model.transform(ratings)

In [66]:
preds.show(5)

+--------+------+------------+-------+----------+
|movie_id|rating|   timestamp|user_id|prediction|
+--------+------+------------+-------+----------+
|     148|     5|9.75592024E8|    673| 4.2179713|
|     148|     2|9.65634524E8|   4227|  2.082299|
|     148|     4|9.68683753E8|   3184| 3.4188745|
|     148|     3| 9.6997537E8|   4784| 2.9637852|
|     148|     2|9.74388854E8|   2383| 2.3499334|
+--------+------+------------+-------+----------+
only showing top 5 rows

In [68]:
reg_ev = RegressionEvaluator(metricName='rmse', labelCol='rating', predictionCol='prediction')

In [69]:
rmse_model_1 = reg_ev.evaluate(preds)

In [70]:
rmse_model_1

0.8091218175453062

In [71]:
request_preds = als_model.transform(requests)

In [78]:
request_preds.show(20)

+--------+------+-------------+-------+----------+
|movie_id|rating|    timestamp|user_id|prediction|
+--------+------+-------------+-------+----------+
|     148|   NaN| 9.77959026E8|     53|       NaN|
|     148|   NaN| 9.76559602E8|   4169| 3.2321188|
|     148|   NaN| 9.89024856E8|   5333| 2.3576462|
|     148|   NaN| 9.77005381E8|   4387| 1.9873172|
|     148|   NaN| 9.66907208E8|   3539| 2.8987255|
|     148|   NaN| 9.76266538E8|    840| 2.5574653|
|     148|   NaN| 9.76841639E8|    216|       NaN|
|     148|   NaN| 9.76191154E8|    482|       NaN|
|     148|   NaN|1.029283935E9|    752| 3.2906346|
|     148|   NaN|1.026978024E9|    424|       NaN|
|     148|   NaN| 9.74150193E8|   2456| 2.7647066|
|     148|   NaN|  9.7014489E8|   3053| 2.8814397|
|     463|   NaN| 9.80596453E8|    970| 2.7192957|
|     463|   NaN| 9.76560887E8|   4169|   2.44903|
|     463|   NaN| 9.78242788E8|     26|       NaN|
|     463|   NaN| 9.76395651E8|    319|       NaN|
|     463|   NaN| 9.76907712E8|    202|       NaN|
|     463|   NaN| 9.75746926E8|    721| 3.2496715|
|     463|   NaN|   9.652831E8|   4252| 2.1638129|
|     463|   NaN|  9.7982674E8|    331|       NaN|
+--------+------+-------------+-------+----------+
only showing top 20 rows

In [93]:
#confirm that Nan in prediction column are cold-start users
user_factors = als_model.userFactors
row_216 = user_factors[user_factors['id']==216]
#.first() takes it out of the spark dataframe type

In [95]:
row_216.show()
#no values for the cold-start users

+---+--------+
| id|features|
+---+--------+
+---+--------+